header{
    background-color: #0C0032;
    text-align: left;
    color: #3500D3;
    padding-left: 10px;
};

footer{
    position: absolute;
    bottom:0;
    background-color: #0C0032;
    text-align: center;
    color: #3500D3;
 
};

.collage{
    width: 50rem;
    height:50rem;
};

.card{
    float: right;
};


